#main_a:hover{
   color: black;
}
li a{
  color: black;
  text-decoration: none;
}

header{
  padding-top:5px;
  padding-bottom:5px;
  width: 1200px;
  height:70px;
  margin: 0 auto;

}

header li{
  float: right;
  margin-top : 5px;
  margin-right:15px;
  display: inline;
  font-size:12px;
}
header img{
  float: left;
  display: inline;
}

footer{
  width: 1200px;
  margin: 20px auto 0 auto;
  padding-top:0;
  height : 120px;

}
footer p{
  float:left;
  margin-top: 15px;
  margin-right:20px;
  font-size: 8pt;
  font-weight: bold;
}
#footer_logo{
  float:left;
  width:150px;
  margin-top:10px;
  margin-right: 20px;
}


footer input{
  margin-top:15px;
}
