#ticket_box0{
	padding-left:15px;
	width: 1000px;
	height: 750px;
	margin: 0 auto;
	
}

#ticket_box1{
	padding-left:15px;
	width: 1000px;
	height: 900px;
	margin: 0 auto;
	}
	
#ticket_box12{
	padding-left:15px;
	width: 1000px;
	/* 900 */
	margin: 0 auto;
}

#select_ticket{
	font-size: 17pt;
	font-weight: bold; 
	border:0px;
}
.table1{
	border-collapse:collapse;
	width:980px;
	height:50px;
	margin-left:0px;
	
	
}

.table1 tr{
	width:230px;
}
#table1_header{
	font-size: 15px;
	font-weight: bolder;
	text-align:center;
}
.table1 tr td{
	border-collapse:collapse;
	border: 2px solid gray;
	border-left : none;	
	border-right : none;	
	width:30px;
	height:40px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:25px;
}

.table2{
	margin-left:230px;
}

.div_none{
	margin-left:7px;
	size:30px;
	height:30px; 
	font-size:12pt;
	font-style: normal;
}

#btn_cancel{
	width: 980px;
	height: 50px;
	padding-top:20px;
	text-align: center;
}

#flight_insert{
	/* background-color : white; */
/* 	border: 1px solid gray; */
	margin:30px;
	width: 120px;
	height: 50px;
}

#form_select{
	margin-right:4px;
	text-align:center;
	
}
#form_search2{
	
	display:inline;
	clear:both;
	
}

#form_search1{
	margin-right:4px;
	float: left;
}


#select_box{
	width: 100px;
	height: 35px;
	margin-right: -5px;
}
#select_box1{
	width: 150px;
	height: 35px;
	margin-right: -5px;
}

#hr1{
	width:980px;
	float:left;	
	
}

#button_search{
	width:70px;
	height:30px;
	/* margin:0 0 -10px 15px; */
}

.select_flight{
	margin-left:-4px;
	size:30px;
	height:35px; 
	font-size:14pt;
	font-style: bolder;
	
}
#spandiv{
	text-align: center;
}

.seat{
	width:30px;
	height:30px;
}
 
#box1{
	margin-top:30px;
	width:980px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	display: inline-block;
	text-align: center;
	padding:10px;
	
} 
 