@charset "UTF-8";
#wish_list_section{
	width: 1200px;
	border: 1px solid red;
	height: 180px;
	margin: auto;
	font-size: 22px;
	text-align: center;
	padding-top: 100px; 
}
#wish_list_section2{
	width: 1200px;
	border: 1px solid blue;
	height: 50px;
	margin: auto;
	font-size: 13px;
	text-align: center;
	padding-top: 5px; 
	color: lightgray;
}
#cart_section{
	width: 1200px;
	border: 1px solid black;
	height: 400px;
	margin: auto;
}
table{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	width: 1200px;
}
tr{
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;	
}
td{
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	text-align: center;
	border-left-style:none; 
	border-right-style:none; 
}
.prod_check_box{
	width: 40px;
}
.prod_image{
	width: 160px;
}
.prod_info{
	width: 450px;
}
.prod_price{
	width: 150px;
}
.prod_baesong{
	width: 150px;
}
.prod_total{
	width: 100px;
}
.prod_choice{
	width: 150px;
}


