@charset "UTF-8";
#notice{
	width: 1200px;
	height: 170px;
	font-size: 16px;
	margin: auto;
	text-align: center;
	padding-top: 120px; 
}
#notice_section{
	width: 1200px;
	margin: auto;
}
.notice_section{
	width: 1200px;
	margin: 10px auto;
	text-align: center;
}
#notice_kind{
	width: 1200px;
	margin: auto;
	height: 40px;
	text-align: right;
	padding-right: 5px;
	padding-top: 8px;
	margin: auto;
}
#notice_select{
	height: 24px;
	display: inline-block;
	width: 90px;
}
#notice_text{
	size: 15px;
	width: 180px;
}
#kind_search{
	display: inline-block;
	background-color: white;
	width: 80px;
}
#notice_table{
	width: 1200px;
}
#notice_table2{
	width: 1200px;
	border-top: 2px solid lightgray; 
	border-bottom: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px; 
}
#notice_table3{
	width: 1200px;
	border-top: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px; 
}
#notice_table3{
	width: 1200px;
	border-top: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px; 
}
#notice_table4{
	width: 1200px;
	border-top: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px; 
	text-align: left;
}
#notice_table_tr{
	border: 1.5px solid lightgray;
	text-align: center;
	height: 35px;
	border-left: 0px; 
	border-right: 0px;
	border-top: 1.5px solid lightgray;
	border-bottom: 1.5px solid lightgray;
}
.notice_table_tr{
	border: 1.5px solid lightgray;
	text-align: center;
	height: 35px;
	border-left: 0px; 
	border-right: 0px;
	border-top: 1.5px solid lightgray;
	border-bottom: 1.5px solid lightgray;
}
.notice_table_no{
	width: 60px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	border-left: 0px; 
	border-right: 0px;
	font-size: 13px;
}
.notice_table_subject{
	width: 880px;
	border-left: 0px; 
	border-right: 0px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	text-align: left;
	font-size: 12px;
}
.notice_table_subject2{
	width: 880px;
	border-left: 0px; 
	border-right: 0px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	text-align: center;
}
.notice_table_writer{
	border-left: 0px; 
	border-right: 0px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}
.notice_table_date{
	border-left: 0px; 
	border-right: 0px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}
#write_form{
	width: 1200px;
	height: 40px;
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
}
.notice_write{
	width: 80px;
	background-color: white;
	border: 2px solid lightgray;
	color: black;
}

#page_link{
	width: 1200px;
	height: 40px;
}
#page_link_table{
	border: 1px solid lightgray;
	font-size : 11pt;
	margin: auto;
}
#page_link_table td{
	border: 1px solid lightgray;
	color: gray;	
}
#now_bluck{
	background-color: lavender;
	color: black;
}
#page_link_table td a{
	color: gray;	
}
#page_link_table td a:hover{
	text-decoration: none;
}
#page_num{
	border: 1px solid black;
	display: inline;
}
a{
	list-style: none;
}
.notice_write_subject{
	width: 150px;
	background-color: lightgray;
}
.notice_write_content{
	width: 580px;
}
#notice_input_content{
	width: 580px;
	height: 600px;
}
#notice_input_subject{
	width: 580px;
	text-align: left;
}
.notice_section_table{
	text-align: center;
	margin: auto;
}
.notice_input_image{
	width: 200px;
}
#notice_write_form{
	width: 730px;
	height: 40px;
	text-align: center;
	padding-right: 15px;
	padding-top: 5px;
	margin: auto;
}
button{
	color: black;
}
.notice_view_table_td1{
	width: 100px;
	font-size: 11px;
	border-top: 2px solid lightgray; 
	border-bottom: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px;
}
.notice_view_table_td2{
	text-align: left;
	padding-left: 80px;
	border-top: 2px solid lightgray; 
	border-bottom: 2px solid lightgray; 
	border-left: 0px; 
	border-right: 0px;
}
#notice_view_date1{
	border-bottom: 0px solid white;
}
#notice_view_date2{
	text-align: right;
	border: 0px;
	font-size: 11px;
	padding-right: 20px;
}
#notice_table_tr2{
	border: 0px solid white;
}
#notice_table_tr3{
	border: 0px;
	width: 1200px;
}
#notice_content_view{
	width: 1200px;
	margin: auto;
}
.notice_view_button{
	width: 60px;
	height: 29px;
	background-color: white;
	border: 1.5px solid lightgray;
}
#notice_table4_tr{
	text-align: right;
	height: 90px;
}
#notice_table4_tr_td{
	text-align: right;
	padding-bottom: 40px;
}
#avant_list_tr{
	height: 42px;
}
#avant_list_td{
	text-align: left;
	padding-left: 20px; 
}
#next_list_td{
	height: 42px;	
}
#next_list_td{
	text-align: left;
	padding-left: 20px; 
}
.review_box_img{
	width: 250px;
	height: 150px;
	border: 1px solid black;
}
.review_box_product{
	width: 250px;
	height: 25px;
	border: 1px solid blue;
	text-align: left;
	font-size: 12px; 
}
.review_box_regist{
	width: 250px;
	height: 25px;
	border: 1px solid red;
	text-align: left;
	font-size: 10px; 
	color: lightgray;
}