#ticket_box0{
	padding-left:15px;
	width: 1000px;
	height: 950px;
	margin: 0 auto;
	margin-top: 50px;
}

#ticket_box1{
	padding-left:15px;
	width: 1000px;
	height: 1500px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 50px;
	
}

#ticket_box2{
	spacing : 10px;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	margin-top: 50px;
}
#ticket_box3{
	padding-left:15px;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}

#ticket_box4{
	
	padding-left:15px;
	width: 1000px;
	height: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}

#ticket_box5{
	padding-left:15px;
	width: 1000px;
	height: 1900px;
	margin: 0 auto;
	margin-top: 50px;
}

#ticket_box6{
	padding-left:15px;
	width: 1000px;
	height: 1100px;
	margin: 0 auto;
	margin-top: 50px;
}
.div_none{
	margin-left:7px;
	width:300px;
	height:30px; 
	border:none;
	font-size:13pt;
	font-weight: 600; 
	font-style: normal;
	letter-spacing: 2px;
}
input::-ms-input-placeholder { 
	color: black; 
	font-size:14pt;
	font-weight: 600; 
	font-style: normal;
}
input::-webkit-input-placeholder { 
	color: black; 
	font-size:14pt;
	font-weight: 600; 
	font-style: normal;
} 

input::-moz-placeholder { 
	color: black; 
	font-size:14pt;
	font-weight: 600; 
	font-style: normal;
}

#gps1{
	vertical-align: middle;
}

.table2{
	border-collapse:collapse;
}

.table2 td{
	border-collapse:collapse;
	border: 1px solid black;	
	height:60px;
	width:330px;
}
#select_ticket1{
	
	font-size: 17pt;
	font-weight: bold; 
	border:0px;
	clear:both;
}

#select_ticket{
	
	font-size: 17pt;
	font-weight: bold; 
	border:0px;
}
#select_ticket2{
	display:inline-block;
	font-size: 17pt;
	font-weight: bold; 
	border:0px;
	float:left;
}

#seat_class{
	display: inline-block;
	font-size: 17pt;
	font-weight: bold; 
}
#hr2{
	float:left;
	border:thin solid gray;
	width:200px;
	
}
.count_box1{
	display: inline;
	width:60px;
	height:60px;
	float:left;
	
}

.count_box2{
font-size: 12pt;
font-weight: 600; 
height:100px;
}

.num{

text-align:center;
width:60px;
height:59px;	
font-size: 14pt; 
font-weight: bold; /* normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900 */
font-style: normal; /* normal, italic, oblique */;
}
s
#select_ok{
	margin:0 auto;
	width: 150px;
	height: 36px;
	font-size: 14pt; 
	font-weight: bold;
	color: black;
	background-color: #FFFFFF;
	
}
#table3{
	width:1000px;
	
}

#count_btn{
	text-align:center;
}

.bt_down:hover, .bt_up:hover{
	border:3px solid gray;
	
}

#checked_flight{
	width:480px;
	height:67px;
	margin:0 15px 50px 0;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 33px;
	font-size:17pt;
	font-weight: 500;
	float:left;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	
}
#checked_flight1{
	width:970px;
	height:67px;
	margin:0 15px 50px 0;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 33px;
	font-size:17pt;
	font-weight: 500;
	float:left;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	
}
#checked_flight2{
	width:480px;
	height:67px;
	margin-right:15px;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 33px;
	font-size:18pt;
	font-weight: bolder;
	float:left;
}


#selected_flight{
	width:980px;
	height:400px;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 33px;
	font-size:18pt;
	font-weight: bolder;
}
#selected_flight1{
	width:980px;
	height:350px;
	background-color: #FFFFFF;
	
	/* font-size:18pt;
	font-weight: bolder; */
	
}

#selected_flight2{
	width:980px;
	height:550px;
	background-color: #FFFFFF;
	
	/* font-size:18pt;
	font-weight: bolder; */
	
}


#row_flight{
	width:450px;
	margin-left:25px;
	margin-right:25px;
	border-collapse: collapse;
	float:left;
}
#row_flight tr td{
	color:black;
	font-weight: 500;	
}
#row_flight1{
	width:450px;
	border-collapse: collapse;
	font-weight: 500;
}
#row_flight_tr1{
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	height:50px;
	font-size :15pt;
	font-weight: 500;
}
#row_flight_tr2{
	text-align : center;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	height:40px;
	font-size :13pt;
	font-weight: 500;
}
#row_flight_tr3{
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	height:120px;
}

#row_flight_tr4{
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	font-size:14pt;
	height:50px;
	text-align: right;
}

#low_price{
	font-size: 15.5pt;
	color:#880000;
	text-align: right;
}

.table1 tr td{
	border-collapse:collapse;
	border: 2px solid gray;
	border-left : none;	
	border-right : none;	
	width:30px;
	height:40px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:25px;
}


#row_flight2{
	text-align:center;
	margin-left:-40px;
	width:1050px;
	height:50px;
	border-collapse: collapse;
}
#row_flight2 td{
	border-collapse:collapse;
	border: 2px solid gray;
	border-left : none;	
	border-right : none;
	
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:25px;
}
#row_flight2 tr{
	
	height:30px;
}
#row_flight2_tr1{
	background-color: #FFFFFF;
}

#row_flight2_tr1 td{
	font-size: 13pt;
	font-weight: bolder;
}
#right{
	text-align: right;	
	margin-right:15px;
}


#selected_flight3{
	width:980px;
	height:60px;
	background-color: #FFFFFF;
	border: 1px solid gray;
	border-left : none;	
	border-right : none;
	margin-top:10px;
	text-align: center;
	padding-top: 33px;
	font-size:18pt;
	font-weight: 500;
	float:left;
}
#button_div{
	width:980px;
	height:64px;
	text-align:center;
	padding-top:45px;
	clear:both;
	
}

#button_div1{
	width:980px;
	height:80px;
	text-align:center;
	padding-top:22px;
	clear:both;

}

#flight_ok_box{
	margin-top:5px;
	width:980px;
	height:300px;
	
	
}

#seat_1{
	
	width:800px;
	height:185px;
	margin:15px 0 0 15px;
	
}
#seat_info{
	margin-top:20px;
	width:980px;
	height:185px;
}

#src_rst{
    background-color : white;
	width: 378px;
	position: absolute;
	top : 166px;
	left : 530px;
	z-index: 25;
	border : 1px solid #ddaa88;
	font-size : 10pt;
}

#btn_cancel{
	width: 980px;
	height: 50px;
	padding-top:20px;
	text-align: center;
}

#btn_cancel2{
	padding-top:40px;
	width: 980px;
	height: 50px;
	text-align: center;
}

#total_price{
	font-size: 15pt;
	font-weight: bolder;
}

.bt_down{
	margin-right:-5px;
	
}
#mask {  
  position:absolute;  
  left:0;
  top:0;
  z-index:9000;  
  background-color:#000;  
  display:none;  
}
.window{
	  display: none;
	  position:absolute;  
	  left:100px;
	  top:100px;
	  z-index:10000;
}

.seat{
	width:30px;
	height:30px;
}

#no{
	padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 15pt;
	
}
#ticket_box66{
	width: 1200px;
	height:700px;
	
	margin: 0 auto;
	margin-top: 50px;
	
}
#parent{
	width:1200px;
	height:600px;
	border:1px solid black;
}
.sp1{
	color:#000000;
	font-size:19pt;
	font-weight: 600;
}

.sp2{
	color:#000000;
	font-size:13pt;
	font-weight: 550;
}

.sp3{
	color:#000000;
	font-size:12pt;
	font-weight: 400;
}

.child_1{
	spacing:5px;
	margin:10px 5px 0 0;
	width:189px;
	height:450px;
	padding-top:150px;
	float:left;
	text-align: center;
	vertical-align: middle;
	border: 2px solid gray;
	margin-bottom:10px;
	
}

.child_1:hover{
	border: 4px solid gray;
	background-color: #F2F2F2;
}

#bottom_div{
	width:1182px;
	height:90px;
	border: 2px solid gray;
	clear:both;
}	


