.main{
  position:relative;
  display:inline-table;
  width: 720px;
  min-height:500px; 
}
section{
  margin-top:30px;
  text-align: center;
}

#bottom_page{
  width:300px;
  text-align:center;
  margin:50px auto 0 auto;
}
.img{
  text-align:center;
  width : 140px;
  height : 200px;
  background-color: #F1F1F1;
}

#books img{
  width: 120px;
  height:180px;
  border: solid 1px #cccccc;
}
