  #main{
    background-color: #FAFAFA;
    border: 2px solid black;
    border-radius: 10px;
  }
  label{
    margin-left: 1px;
  }
  table{
    margin: 20px auto 0 auto;
  }
#guide_find_id{
	text-align: center;
}

